extends  ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="",class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote ipsum, dolor sit amet consectetur     adipisicing elit. Nisi rem ex, at iure debitis nihil    distinctio eligendi perferendis animi facere quidem? Ea    dolore possimus ducimus quibusdam. Adipisci animi totam ipsa.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed atque quasi accusamus, dignissimos quia ut officia assumenda deserunt, iure aliquid quisquam mollitia alias consequuntur rem? Nemo ipsum ut dolor dolorem!
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, eveniet. Voluptatum repudiandae accusamus aspernatur aliquam blanditiis dolorum architecto sapiente deserunt repellat tempore? Consequuntur possimus dicta nesciunt laboriosam nisi, corporis exercitationem?

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-gluid mb-4")
                    h1.mb-4 seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, magnam perferendis? Ipsum a voluptatem earum rem laboriosam rerum tenetur nulla officiis eligendi eius. Doloremque facilis eum rem maiores molestias. Inventore?
